<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Oil Spill Map</title>
    <script src="https://api-maps.yandex.com/2.1/?apikey=<Your-Yandex-API-Key>&lang=en_US" type="text/javascript"></script>
    <script type="text/javascript">
        function init() {
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64], // Example coordinates
                zoom: 10
            });

            // Example: Adding a placemark for an oil spill
            var myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                balloonContent: 'Oil Spill Location'
            });

            myMap.geoObjects.add(myPlacemark);
        }

        ymaps.ready(init);
    </script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Oil Spill Map</h1>
        <div id="map" style="width: 100%; height: 500px;"></div>
        <br>
        <div class="text-center">
            <a href="/" class="btn btn-primary mt-3">Go back</a>
        </div>
    </div>
</body>
</html>
